.container {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

table {
    width: 100%;
}

#edit {
    color: rgb(62, 62, 223);
}

.create {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.create h1 {
    text-align: center;
    font-size: 2rem;
}

.create button {
    width: 20%;
}

.div-button-create {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.button-create {
    background-color: #1c64ff;
    color: white;
}