.container {
    height: 92%;
}

i {
    margin-right: 1rem;
    color: white;
}

.active-link {
    background-color: #FAFAFA;
}

.active-link:hover {
    background-color: #FAFAFA;
}                              

.active-link h4, .active-link i {
    color: #151515;
}

.active-link h4:hover {
    color: #3E3EDF;
}

h4 {
    display:inline-block;
    color: white;
    margin: 0;
    position:relative;
}

button {
    margin: 1rem auto 0 1rem;
}

.nav-list {
    background-color: #151515;
    height: 91vh;
}

.icon-back {
    display: none;
}

@media (max-width: 500px) {
    .mat-drawer {
        width: 100%;
    }
    .icon-back {
        display: block;
        color: white;
        position: absolute;
        top: 0;
        right: 0;
    }
}
