<div class="create">
  <h1>Ordens de Serviço Abertas</h1>
</div>

<div class="mat-elevation-z8 container">
  <div class="loading" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <table mat-table [dataSource]="dataSource" *ngIf="!loading">
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Cliente</th>
      <td mat-cell *matCellDef="let element">{{ element.customer }}</td>
    </ng-container>

    <ng-container matColumnDef="employee">
      <th mat-header-cell *matHeaderCellDef>Tecnico</th>
      <td mat-cell *matCellDef="let element">{{ element.employee }}</td>
    </ng-container>

    <ng-container matColumnDef="openingDate">
      <th mat-header-cell *matHeaderCellDef>Data de Abertura</th>
      <td mat-cell *matCellDef="let element">{{ element.openingDate }}</td>
    </ng-container>

    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef>Prioridade</th>
      <td
        mat-cell
        *matCellDef="let element"
        class="{{ prioridade(element.priority) }}"
      >
        {{ element.priority }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>AÇÕES</th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="update/{{ element.id }}">
          <i id="edit" class="material-icons">edit</i>
        </a>
        <a routerLink="view/{{ element.id }}">
          <i id="view" class="material-icons">visibility</i>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="changeStatus">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button class="button-encerrar" (click)="openModal(element.id)">
                Encerrar
            </button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20, 50, 100]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<div class="div-button-create">
  <button
    mat-raised-button
    class="mat-elevation-z8 button-create"
    (click)="navigateToCreate()"
  >
    CRIAR ORDEM DE SERVIÇO
  </button>
</div>
