.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

table {
  width: 100%;
}

#edit {
  color: rgb(62, 62, 223);
}

#delete {
  color: rgb(210, 75, 79);
  padding-left: 2rem;
}

td.baixa {
  color: rgb(114, 224, 114);
}

td.media {
  color: rgb(216, 216, 94);
}

td.alta {
  color: rgb(210, 75, 79);
}

h1 {
  text-align: center;
  font-size: 2rem;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

@media (max-width: 500px) {

  .container {
      width: 70%;
  }

  .mat-row {
      display: flex;
      flex-direction: column;
      width: 80%;
  }
  tr.mat-row  {
      height: 100px;
      display: flex;
      padding-left: 30px;
  }
  tr.mat-header-row {
      display: none;
  }
  
}