<div class="div-cards">
  <mat-card class="card card1" routerLink="/customer">
    <mat-icon>face</mat-icon>
    <h2>Clientes</h2>
  </mat-card>

  <mat-card class="card card2" routerLink="/employee">
    <mat-icon>build</mat-icon>
    <h2>Técnicos</h2>
  </mat-card>

  <mat-card class="card card3" routerLink="/service-order">
    <mat-icon>dns</mat-icon>
    <h2>Serviços</h2>
  </mat-card>
</div>

<div class="div-statistics">
  <mat-card class="card-topics">
    <mat-card-content>
      <section>
        <mat-form-field class="margin-topics" appearance="fill">
          <mat-label>Total Clientes</mat-label>
          <input matInput type="number" [(ngModel)]="customers" />
        </mat-form-field>
        <mat-form-field class="margin-topics" appearance="fill">
          <mat-label>Total Técnicos</mat-label>
          <input matInput type="number" [(ngModel)]="employees" />
        </mat-form-field>
        <mat-form-field class="margin-topics" appearance="fill">
          <mat-label>Ordens Abertas</mat-label>
          <input matInput type="number" [(ngModel)]="openOS" />
        </mat-form-field>
        <mat-form-field class="margin-topics" appearance="fill">
          <mat-label>Ordens Encerradas</mat-label>
          <input matInput type="number" [(ngModel)]="closedOS" />
        </mat-form-field>
      </section>
    </mat-card-content>
  </mat-card>
</div>
