<div class="div-cards">
  <mat-card class="card card1" routerLink="/customer">
    <mat-icon>face</mat-icon>
    <h2>Clientes</h2>
  </mat-card>

  <mat-card class="card card2" routerLink="/employee">
    <mat-icon>build</mat-icon>
    <h2>Técnicos</h2>
  </mat-card>

  <mat-card class="card card3">
    <mat-icon>dns</mat-icon>
    <h2>Serviços</h2>
  </mat-card>
</div>

<div class="div-statistics">
    <mat-card class="mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Odens de Serviço em Aberto</mat-card-title>
        </mat-card-header>
        <hr>
        <mat-card class="demo-inline-calendar-card">
            <mat-calendar></mat-calendar>
        </mat-card>
    </mat-card>
    <mat-card class="card-topics">
        <mat-card-content>
          <section>
            <mat-form-field class="margin-topics" appearance="fill">
              <mat-label>Value</mat-label>
              <input matInput type="number" [(ngModel)]="value">
            </mat-form-field>
            <mat-form-field class="margin-topics" appearance="fill">
              <mat-label>Min value</mat-label>
              <input matInput type="number" [(ngModel)]="min">
            </mat-form-field>
            <mat-form-field class="margin-topics" appearance="fill">
              <mat-label>Max value</mat-label>
              <input matInput type="number" [(ngModel)]="max">
            </mat-form-field>
            <mat-form-field class="margin-topics" appearance="fill">
              <mat-label>Step size</mat-label>
              <input matInput type="number" [(ngModel)]="step">
            </mat-form-field>
          </section>
        </mat-card-content>
      </mat-card>
</div>

